p {
  color: #9e58f4;
}
li {
  color: #d058f4;
  font-size: 20px;
}
#about-me {
  width: auto;
  padding-left: 30px;
  padding-right: 20px;
  font-family: sans-serif;
  font-size: 16px;
}
h3 {
  font-size: 24px;
  font-style: italic;
  color: #7002f7;
}
.jumbotron {
  background-color: pink;
  border: 8px double deeppink;
}
.container-fluid {
  padding: 30px;
  background: lavender;
  border: 15px double purple;
  color: #800080;
}
.div {
  color: purple;
}
.panel-title {
  float: left;
  color: deeppink;
}
.panel-heading {
  height: 40px;

}
.panel-body {
  background-color: lightblue;
}
.hobby li {
  font-size: 20px;
}

.hobby {
  margin: 2px;
  padding: 2px;
}

.project {
  margin: 2px;
  padding: 2px;
}
